/* Base Styles */

body {
    color:  #777777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    background-color: #e7e7e7;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23fdfdfd' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Georgia, Times, Times New Roman, serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 1.75em;
}

h1 {
    background-color:#4aaaa5;
    color: #fff;
    padding: 30px 25px;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.2em;
    font-weight: lighter;
    color:#fff;
}

hr {
    border-width: 1.5px;
    border-style: solid;
    margin: 10px 0 30px;
    border-color: #e7e7e7;
}

/* Layout Styles */

#container {
    padding-top: 30px;
    padding-bottom: 150px;

}


#aboutContent {
    background-color: white;
    width: 600px;
    float: left;
    padding: 25px;
    border: 1px solid #dddddd;
    line-height: 1.6;
}

#contactContent {
    background-color: white;
    width: 600px;
    float: left;
    padding: 25px;
    border: 1px solid #dddddd;
    line-height: 1.6;
}

#portfolioContent {
    background-color: white;
    width: 600px;
    float: left;
    padding: 25px;
    border: 1px solid #dddddd;
    line-height: 1.6;
    margin-bottom: 150px;
}


#contact {
    background-color: white;
    width: 220px;
    float: left;
    height: auto;
    margin-left: 30px;
    padding: 25px;
    border: 1px solid #dddddd;
}

#contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact li {
    display: inline;
}

footer {
    background-color: #666666;
    color: #dddddd;
    text-align: center;
    font-size: .75em;
    clear: both;
    padding: 50px 0 30px;
    border-top: 7px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    clear:both;
    top: 0;
    width: 100%;
}


nav {
    background-color: white;
    padding: 35px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    color: grey;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    font-size: 16px;
    background-color: #4aaaa5;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}



/* Class Styles */

.conteredText {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    color: #fff;
    width: 280px;
    padding: 10px 0;
}

.entryContainer {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.clearfix {
    overflow: auto;
}

.greyPipe {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    padding: 0 15px;
}

.left {
    float: left;
}

.leftPortfolio {
    margin-right: 40px;
}

.right {
    float: right;
}

.rightPadding {
    padding-right: 20px;
}

.socialMediaPadding {
    padding: 0 7px;
}
