h2 {
    font-size: 1em;
}

body {
    background-color: grey;
    color: grey;
    text-align: center;
    font-family: sans-serif;
  }

#container {
    width: 90%;
    margin: 10px auto;

}


header {
    background-color: white;
    padding: 20px 0;
    margin-bottom: 10px;
}

nav {
    background-color: white;
    padding: 20px 0;
    margin-bottom: 10px;
    clear: both;
}

#section {
    background-color: white;
    width: 59%;
    float: left;
    margin-right: 10px;
    height: 300px;
    margin-bottom: 10px;
}

#article {
    background-color: grey;
    color: white;
    padding: 20px 0;
    width: 90%;
    margin: auto;
}

#aside {
    background-color: white;
    width: 40%;
    float: right;
    height: 300px;
    margin-bottom: 10px;
}

footer {
    background-color: white;
    clear: both;
    padding: 20px 0;
}

.pink {
    background-color: white;
    color: grey;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}